$header-height = 85px
$about-height = 367px

.button
  &.button-small
    padding: 5px 8px

.logo
  max-height: 45px

.header-padding
  padding-top: $header-height

#header
  padding: $margin-small 0

#app-logo
  height: 28px

#main-content
  min-height: "calc(100vh - %s)" % ($header-height + $about-height)
