$header-height = 81px
$footer-height = 93px

.button
  &.button-small
    padding: 5px 8px

.logo
  max-height: 45px

#header
  padding: $margin-small 0

#app-logo
  height: 28px

#main-content
  min-height: "calc(100vh - %s)" % ($header-height + $footer-height)

.post-image
  max-height: "calc(90vh - %s)" % ($header-height + $footer-height)
