$header-height = 57px
$about-height = 356px

p
  max-width: 520px

.button
  padding: $margin-small
  min-height: 62px
  &.button-small
    min-height: 0
    padding: 4px 6px

.icon
  height: 28px

.icon-small
  height: 14px
  padding: 0 $margin-micro

.location-icon
  padding-left: 0

.logo
  height: 38px

.header-padding
  padding-top: $header-height

#about
  .logo
    margin: 0 $margin-tiny

#header
  padding: $margin-tiny 0

#header-hashtag
  max-width: 80px

#header-nav
  min-height: 32px

#app-logo
  height: 20px

#main-content
  min-height: "calc(100vh - %s)" % ($header-height + $about-height)

.comment-textarea
  padding: $margin-tiny

#upload-progress-holder
  height: $margin-small

#upload-progress-percent
  padding-top: 3px
