$header-height = 69px
$footer-height = 68px

p
  max-width: 520px

.button
  padding: $margin-small
  min-height: 62px
  &.button-small
    min-height: 0
    padding: 4px 6px

.icon
  height: 28px

.logo
  height: 38px

#about
  .logo
    margin: 0 $margin-tiny

#header-nav
  min-height: 32px

#app-logo
  height: 20px

#main-content
  min-height: "calc(100vh - %s)" % ($header-height + $footer-height)

.post-image
  max-height: "calc(90vh - %s)" % ($header-height + $footer-height)

.comment-textarea
  padding: $margin-tiny
