$header-height = 69px
$about-height = 395px

p
  max-width: 600px

.button
  padding: $margin-small
  min-height: 75px
  &.button-small
    min-height: 0
    padding: 4px 7px

input, textarea
  border-right: $border
  border-left: $border
  border-color: $color-grey-light

textarea
  font-size: $font-size-basic

.icon
  height: 31px

.logo
  height: 42px

.header-padding
  padding-top: $header-height

#about
  .logo
    margin: 0 $margin-tiny

#header
  padding: $margin-tiny 0

#header-hashtag
  max-width: 100%

#app-logo
  height: 24px

#main-content
  min-height: "calc(100vh - %s)" % ($header-height + $about-height)

#new-posts-notice
  animation: new-posts-notice 1s 1 ease-in-out
  height: "%s" % ($margin-small + 70px)
  margin-top: "-%s" % $margin-small

@keyframes new-posts-notice
  from
    height: 0
  to
    height: "%s" % ($margin-small + 70px)
    
.comment-textarea
  padding: $margin-tiny

#upload-progress-holder
  height: $margin-small

#upload-progress-percent
  padding-top: 4px
