$header-height = 69px

p
  max-width: 600px

.button
  padding: $margin-small
  min-height: 75px
  &.button-small
    min-height: 0
    padding: 4px 7px

input, textarea
  border-right: $border
  border-left: $border
  border-color: $color-grey-light

.icon
  height: 31px

.logo
  height: 42px

#about
  .logo
    margin: 0 $margin-tiny

#header
  padding: $margin-tiny 0

#app-logo
  height: 24px

#main-content
  min-height: "calc(100vh - %s)" % ($header-height)

.post-image
  max-height: 100vh

.comment-textarea
  padding: $margin-tiny
