  // styl property ordering: https://github.com/rossPatton/stylint/blob/master/src/data/ordering.json

@import 'nib'
@import 'helpers'

// ******************************************************

// RESETS

global-reset()

// ******************************************************

// VARIABLES

$color-black = rgb(0, 0, 0)
$color-white = rgb(255, 255, 255)
$color-grey = rgb(150, 150, 150)
$color-grey-light = rgb(220, 220, 220)
$color-grey-alpha-7 = rgba(150, 150, 150, .7)

$border-width = 1px
$border-radius = 5px
$border = $border-width solid

// ******************************************************

// GRID

@import 'grid'

// ******************************************************

// TYPOGRAPHY

@import 'type'

// ******************************************************

// BASIC

html, body
  background-color: $color-grey-light
  background-image: url('icons/artfair-lol-logo.svg')
  background-size: 70%
  background-repeat: no-repeat
  background-position: center
  min-height: 100%
  color: $color-black

img
  max-width: 100%
  height: auto

.mobile-only
  display: initial !important

.desktop-only
  display: none !important

.button
  appearance: none
  background-color: $color-black
  color: $color-white
  border-radius: $border-radius
  border: 0
  cursor: pointer
  text-align: center
  line-height: 1
  width: 100%
  max-width: 500px
  height: 100%
  &:hover
    opacity: .8
  &.button-small
    display: inline-block
    width: auto
    height: auto
  &#camera-button
    border-radius: 75px
    width: 75px
    height: 75px
    border: 2px solid $color-white

input, textarea
  appearance: none
  border: 0
  background: $color-white
  border-radius: 0
  resize: none
  display: block
  margin: 0 auto
  box-sizing: border-box
  outline: 0
  &:disabled
    opacity: .4
    cursor: not-allowed
    &:hover
      opacity: .4

textarea
  border-top: $border
  border-bottom: $border
  border-color: $color-grey-light

.border-bottom-grey
  border-bottom: $border
  border-bottom-color: $color-grey-light

// ******************************************************

// ABOUT

#about
  background-color: $color-black
  color: $color-white

// ******************************************************

// HEADER

#header
  width: 100%
  background-color: $color-white
  box-shadow: 0 2px 3px $color-grey-alpha-7
  z-index: 500
  position: fixed
  top: 0
  left: 0

.sticky-inner-wrapper
  z-index: 500

#add-photo-input
  top: -999999px
  left: -999999px
  width: 0.1px
  height: 0.1px
  visibility: hidden
  opacity: 0
  overflow: hidden
  position: absolute

#add-photo-label
  cursor: pointer

// ******************************************************

#main-content
  position: relative
  z-index: 100
  background-color: $color-white
  &.camera
    background-color: $color-black

// POST

#new-posts-notice
  overflow: hidden
  animation-fill-mode: forwards
  animation: new-posts-notice 1s 1 ease-in-out
  height: 70px
  a
    border-bottom: 1px solid $color-black
    cursor: pointer
    display: inline-block

@keyframes new-posts-notice
  from
    height: 0
  to
    height: 70px

.post
  background-color: $color-white

.post-image
  display: block
  margin: 0 auto
  width: auto

[data-voted=true]
  opacity: .5

.comment-textarea
  width: 100%
  min-height: 100px

#upload-progress-holder
  position: fixed
  width: 100%
  bottom: 0
  left: 0
  background-color: $color-white
  border-top: 1px solid $color-grey-light

#upload-progress-bar
  position: absolute
  height: 100%
  width: 0
  top: 0
  left: 0
  background-color: $color-grey-light
  z-index: -1

// ******************************************************

// FOOTER

#footer
  background-color: $color-white

#feed-pagination
  background-color: $color-grey

#spinner
  &.spin
    animation: spinner 2s infinite ease-in-out

@keyframes spinner
  from
    transform: rotate(0deg)
  to
    transform: rotate(2880deg)

// ******************************************************

// MEDIA QUERIES

$gutter = 24px

$margin-micro = ($gutter * .3)
$margin-tiny = ($gutter * .5)
$margin-small = $gutter
$margin-basic = ($gutter * 2)
$margin-mid = ($gutter * 2.5)

space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid)

grid(100%, $gutter, s)

$font-size-small = 12px
$font-size-basic = 16px
$font-size-mid = 18px
$font-size-large = 24px

font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small)

@import 'responsive/mobile'

@media screen and (min-width: 720px)

  $gutter = 32px

  $margin-micro = ($gutter * .3)
  $margin-tiny = ($gutter * .5)
  $margin-small = $gutter
  $margin-basic = ($gutter * 2)
  $margin-mid = ($gutter * 2.5)

  space-maker($margin-micro, $margin-tiny, $margin-small, $margin-basic, $margin-mid)

  grid(680px, $gutter, m)

  .container.admin-container
    width: 96%
    max-width: 1600px

  $font-size-small = 14px
  $font-size-basic = 18px
  $font-size-mid = 21px
  $font-size-large = 24px

  font-sizes($font-size-basic, false, $font-size-large, $font-size-mid, $font-size-small)

  .mobile-only
    display: none !important

  @import 'responsive/tablet'

@media screen and (min-width: 1024px)

  $gutter = 24px

  grid(800px, $gutter, l)

  .desktop-only
    display: initial !important

  @import 'responsive/desktop'
